[2020-06-05 07:35] dmushkov opened #1 "unable to run"
try running on MacOS

first issue
./xoom
bash: ./xoom: /bin/bash^M: bad interpreter: No such file or directory

explanation is here
The ^M is a carriage return character. Linux uses the line feed character to mark the end of a line, whereas Windows uses the two-character sequence CR LF. Your file has Windows line endings, which is confusing Linux.

after fixing this

second issue
bash-3.2$ ./xoom

[2020-06-05 12:25] danilo-ambrosio commented on #1
Thanks for sharing the details @dmushkov
I'm gonna fix it ASAP.

[2020-06-05 22:12] danilo-ambrosio commented on #1
@dmushkov
I've made a few changes and already pushed it into master. We've successfully tested on Linux and Mac OS.
Could you please also validate it and let me know if it's working now?
Thanks!

[2020-06-08 05:23] dmushkov commented on #1
it's fixed! Thanks

[2020-06-08 05:23] #1 closed

[2020-06-08 05:25] dmushkov opened #2 "Exception is thrown when generate project is invoked"
[pool-2-thread-6] ERROR io.vlingo.actors.Logger - Exception thrown by Resource execution
io.vlingo.xoom.starter.task.template.TemplateGenerationException: Failed.
	at io.vlingo.xoom.starter.task.steps.StatusHandler.lambda$failureHandling$4(StatusHandler.java:58)
	at io.vlingo.xoom.starter.task.steps.StatusHandler.handle(StatusHandler.java:43)
	at io.vlingo.xoom.starter.task.steps.StatusHandlingSte

[2020-06-08 14:50] danilo-ambrosio commented on #2
@dmushkov
I need two more details:

1. Could you please also send me the `vlingo-xoom-starter.properties`  placed under the `starter` home directory?

2. In addition, please confirm if you've executed `xoom gen`  command in that scenario.

Thanks in advance!

[2020-06-08 15:19] dmushkov commented on #2
Hm .. ok
1) I run xoom gen with default **vlingo-xoom-starter.properties**
2) I try generation through xoom gui - now it's working ... I notice some dependencies were download during step 1) ...

[2020-06-08 17:05] danilo-ambrosio commented on #2
Thanks for the details, @dmushkov.

I'll reach out to you when it's fixed.

[2020-06-08 18:47] danilo-ambrosio commented on #2
I've noticed there was a typo in the default properties file and fixed that. Please consider the new **vlingo-xoom-starter.propeties** version in the master branch.

Additionally, ensure that the informed target folder actually exists.

Looking forward to your reply.

Thanks

[2020-06-08 19:34] danilo-ambrosio commented on #2
Clarifying, in regard to dependencies download, this is a maven archetypes process. No worries, that's expected behavior.

Also, if you want to generate a project, you may also use `xoom gui` or `xoom gen`. Both are alternative ways for a quick start with xoom. The latter reads parameters from a properties file, the first consumes parameters from web-based UI.

[2020-06-13 01:53] danilo-ambrosio commented on #2
@dmushkov
Any update on that issue?

[2020-06-15 05:09] dmushkov commented on #2
@danilo-ambrosio unfortunate I can not reproduce this behaviour any more

[2020-06-15 12:22] VaughnVernon commented on #2
@dmushkov That sound like fortunate news to me :smiley: Thanks for confirming the fix!

[2020-06-16 19:36] danilo-ambrosio commented on #2
@dmushkov I'm gonna close this issue, right?

Any future questions,  we're available to help.

[2020-06-16 19:36] #2 closed

[2020-10-20 16:23] flaxel opened #3 "Actor instantiation failed because: No constructor matches the given number of parameters."
**Describe the bug**
We created a project with the [vlingo-xoom-starter](https://github.com/vlingo/vlingo-xoom-starter). Our [project](https://github.com/whzinformatik/stocktrader) is an implementation for the vlingo-stock-trader. We adapt the generated project a little bit and we get an exception that the actor cannot be initialized because the constructors did not match the given number of param

[2020-10-20 16:28] VaughnVernon commented on #3
@flaxel Please describe the storage choices (Event Sourcing vs Stateful) and any other details used in the Starter. Your issue states that the root cause is the `ActorFactory` but that's where the bug is manifest.

/cc @Florian-Schoenherr @danilo-ambrosio

[2020-10-20 17:00] flaxel commented on #3
Yes of course. 😄 We want to use event sourcing. Therefore we used the following property template to generate the project with `xoom gen`:

[code]

[2020-10-21 08:58] Florian-Schoenherr commented on #3
Guten Tag, Kommilitone!
Now I'll keep it english.

This seems to stem from some recent changes in the API, we will fix this as soon as possible!
See [this issue](https://github.com/vlingo/vlingo-symbio-jdbc/issues/48).
Btw, you should be able to use `logger()` inside your [FeedbackResource](https://github.com/whzinformatik/stocktrader/blob/init_feedback_project/feedback/src/main/java/com/whz/feedb

[2020-10-22 01:22] VaughnVernon commented on #3
@flaxel @Florian-Schoenherr Please review and test PR to confirm fix. I will merge following your ok.

[2020-10-22 06:49] flaxel commented on #3
The solution is working perfectly. 👍 Thank you very much! 😁 I got only one little error and I guess it is a fast fix. If I want to get the `defaultLogger` from a RessourceHandler I get a NPE. I guess the reason is that the `stage` variable is never set therefore the value is `null`. My suggested solution would be a new constructor, which has to be called in the `FeedbackResource`, for example.

[2020-10-22 07:00] VaughnVernon commented on #3
Thanks, @flaxel. I am closing this issue. Please create a new issue with your latest report, RE: `ResourceHandler` does not provide `defaultLogger` and include the following comment:

It's possible that extending `ResourceHandler` is improperly generated because that is only supported by "configuration resources" (declared in `vlingo-http.properties`). For dynamic resources handlers the `Stage` mu

[2020-10-22 07:00] #3 closed

[2020-10-27 19:28] flaxel opened #4 "NullPointerException in Sourced"
We found a little bug, if you create a project with the `vlingo_xoom_starter`. You get the following code in the `CommandModelJournalProvider` for the `FeedbackSubmittedEvent`:

[code]

To solve this bug, we have changed the lines as follows. This will register the actor instead of the event.

[code]

This implementation can be found in this [repository](https://github.com/whzinformatik/stocktrade

[2020-10-28 04:18] VaughnVernon commented on #4
@flaxel Thanks for reporting the issue.

@danilo-ambrosio It looks like the wrong class is being passed as a template parameter. I wanted to fix this myself but it's not obvious to me where this happens. This is apparently the template involved:

`/vlingo-xoom/src/main/resources/codegen/JournalProvider.ftl`

[2020-10-28 16:38] Florian122 opened #5 "JDBCStateStoreActor readText() failed because: ERROR: relation "tbl_portfoliodata" does not exist"
Hello,
we have created a project for a [portfolio](https://github.com/whzinformatik/stocktrader/tree/portfolio). (Same project as #4)

We want to retrieve some data (get request).
Some errors already got fixed by us. See this [commit](https://github.com/whzinformatik/stocktrader/commit/bc593a861de760de1bbe1e3e1e31f3d0a4c74157) for more details.

Our latest error is the following one:
[code]

[2020-10-28 16:42] VaughnVernon commented on #5
@Florian122 Thanks. Does the table exist?

[2020-10-28 16:45] Florian122 commented on #5
No, we took a look in the database but there is no such table.
We tried to create the table by hand but it didn't work ether.

[2020-10-28 16:56] VaughnVernon commented on #5
@Florian122 Are other tables auto created? What are your expectations? In what ways are your attempts to create the table failing.

You must provide full context and any supporting information. For example, is this the command model or query model? This is certainly not all the context we need, but there is no way to act on the information currently provided.

[2020-10-28 17:06] Florian122 commented on #5
We created the tables with the migration script in the `resource/db/migration` folder. Is there a way to generate them automatically?
We expected a mechanism that creates all the necessary tables for us.
The error occurs when we call the `/portfolio GET` endpoint.
We are using the query model.
In general we created the project with the xoom-starter and used the implementations from the hello world

[2020-10-28 21:41] danilo-ambrosio commented on #4
@VaughnVernon
Thanks for your help.
Indeed, there is a wrong parameter in regard to `JournalProvider`. I can handle that ASAP.

[2020-10-30 07:03] VaughnVernon commented on #4
Hey @danilo-ambrosio Do you know if this was fixed? This must be in 1.4.0.

[2020-10-30 07:05] VaughnVernon commented on #5
@danilo-ambrosio Do you have any ideas on this? I don't know exactly how to interpret this, either as a bug or as user misunderstanding. Should the database table be created on first run?

[2020-10-31 11:06] danilo-ambrosio commented on #4
@VaughnVernon
This was fixed on `starter` master branch.

@flaxel
Please download the update `starter` binaries and let me know if everything is fine now. Note that I've also temporarily enabled the new user interface version which will be the definitive `starter` interface soon.

[2020-11-01 14:07] flaxel commented on #4
Sorry for the late reply. I had problems with Windows yesterday. I tried it today and it worked for me. +1

[2020-11-01 14:07] #4 closed

[2020-11-03 09:06] yuri-sergiichuk opened #6 "Consider adding Maven Wrapper to the distribution bundle"
While it is stated in the requirements that Maven is required, it may be some extra pain for users to install one with wider adoption of wrappers approach.

It'd be great to have [Maven Wrapper](https://github.com/takari/maven-wrapper) in the `xoom-starter` bundle as well as in the generated project.

[2020-11-03 16:44] VaughnVernon commented on #6
@yuri-sergiichuk Please see this PR and review if you have time.

https://github.com/vlingo/vlingo-xoom-starter/pull/7

[2020-11-04 16:26] Florian122 commented on #5
We have created the missing table in the database by hand with the following script:
(The `Portfolio` consists of an id and a string 'owner')
[code]
We got several error messages so we added the above listed 's_'-columns:
Is this script okay like this?

After a POST request the `PortfolioCreated` event gets saved in the `vlingo_symbio_journal` table but the `tbl_portfoliodata` table is still empty

[2020-11-04 16:55] danilo-ambrosio commented on #5
Hey @Florian122

Thanks for sharing the details. Today I'll take look at [portfolio ](https://github.com/whzinformatik/stocktrader/tree/portfolio) project and find out what's happening.

Let you know what I've got very soon.

[2020-11-06 23:57] VaughnVernon commented on #5
Hi @danilo-ambrosio Where does this stand?

[2020-11-09 20:14] danilo-ambrosio commented on #5
@VaughnVernon
Perhaps we'll need to fix something on 'vlingo-symbio-jdbc' . I noticed [here](https://github.com/vlingo/vlingo-symbio-jdbc/blob/b9563c94f8a712d90f86f97abda7955b8e441d2b/src/main/java/io/vlingo/symbio/store/state/jdbc/JDBCStorageDelegate.java#L541)  is where the state store tables are created:

[code]
However, `StateTypeStateStoreMap` is never populated, so it's always empty. There i

[2020-11-09 20:19] VaughnVernon commented on #5
That should be part of the code generation. Suggestion: use lowercase with underbars for table names.

[2020-11-09 20:21] danilo-ambrosio commented on #5
Oh, I see. Should it be invoked in the `*StateStoreProvider` classes?

[2020-11-09 20:23] VaughnVernon commented on #5
Seems correct. You could see where it is in schemata, but what you indicate sounds best.

[2020-11-10 19:11] danilo-ambrosio commented on #5
@Florian122

`xoom-starter` is now fixed and tested for full table creation.

As a shortcut, if you want `xoom` to take care of the table creation, check [this small change](https://github.com/whzinformatik/stocktrader/compare/main...danilo-ambrosio:main) I made on your portfolio project.

[2020-11-10 20:03] Florian122 commented on #5
The auto creation of the table is working now, thanks for the fix!
But.. the table `tbl_portfoliodata` is still empty after the `post` call. The `get` request returns with empty json.
I'm not sure if this was supposed to be fixed already.

Thank you for the help! 👍

[2020-11-10 20:22] VaughnVernon commented on #5
@Florian122 Are you projecting the events into the query `StateStore`?

[2020-11-11 20:12] Florian122 commented on #5
When the project was generated there was a class called `PlaceholderDefined`.
I assumed it is basically the `PortfolioCreated` event, so i just renamed it.
Furthermore I assumed that this code would call all necessary functions in the background to trigger the `PortfolioCreated` event:
[code]
Do I have to call extra functions to persist the event?

[2020-11-11 21:24] VaughnVernon commented on #5
The `PlaceholderDefined` was generated by an earlier version of the Starter, and you were correct to rename it. IIRC you must editor the code named `AggregatenameProjection`, where `Aggregatename` is probably `Portfolio`. (I assume that is the name of the aggregate generated because you reference that name.) You will need to edit the `PortfolioProjection` class and map the data from `PortfolioCrea

[2020-11-12 19:59] danilo-ambrosio commented on #5
Yes, the most recent versions do it, @VaughnVernon.

I'm going to debug the Portfolio app and see what's happening.

[2020-11-13 21:22] danilo-ambrosio commented on #5
@Florian122

I've found an issue regarding the `ProjectionActor` generation. This is preventing the query model data from being stored.

I'm going to fix it. Keep you posted.

[2020-11-18 16:42] Florian122 commented on #5
Thank you for the effort!
Do you have any news regarding the issue?
We are looking forward to continue our work once everything is working.

[2020-11-18 21:28] VaughnVernon commented on #5
@Florian122 Today @danilo-ambrosio and I discussed some significant simplifications of the projection generation. It should be ready very soon.

[2020-11-20 04:22] danilo-ambrosio commented on #5
@Florian122
The `starter` is now fixed in regard to `Projection Actors` generation. You won't need to regenerate your project. Just consider the following changes I pushed on a fork so you can do the same in your project:

1. https://github.com/danilo-ambrosio/stocktrader/commit/24bad8e272f8c9206d1839ac5447221adfe21f2c#diff-8f52192feb6aed80cc914bbb53c225165ac2a7f37f60dc76e50fdc64589a64c4

2. https

[2020-11-20 18:35] Florian122 commented on #5
Thank you very much, the `GET` request is working now!

[2020-11-20 18:35] #5 closed

[2020-11-20 18:43] VaughnVernon commented on #5
@Florian122 Thanks for your patience! We've had a lot of conflicting priorities the past month and a few on the team were dealing with personal things.

[2020-11-21 10:41] fgr commented on #5
@VaughnVernon and @danilo-ambrosio thanks for the fix. The team had on of those happy "fantastic, it works"-moments yesterday :-)

[2020-11-29 12:37] Florian122 opened #10 "Retrieving an existing actor"
Hello,

when I want to add a `Stock` to an existing `Portfolio` I need to call the `acquireStock` method.
In the `defineWith` method we create a new actor, but how do I retrieve the actor in the `acquireStock` method?
I tried to create an `Address` object with the same information as the one in the `defineWith` method but it didn't work.

See the [code](https://github.com/whzinformatik/stocktrader

[2020-11-29 13:48] VaughnVernon commented on #10
@Florian122 See:

https://github.com/vlingo/vlingo-helloworld/blob/849a1ab5e64e55ccb8fad1d8af3ad972e22c05b1/src/main/java/io/vlingo/hello/resource/GreetingResource.java#L45

https://github.com/vlingo/vlingo-helloworld/blob/849a1ab5e64e55ccb8fad1d8af3ad972e22c05b1/src/main/java/io/vlingo/hello/resource/GreetingResource.java#L94

[2020-11-30 18:25] Florian122 commented on #10
Thank you for the help!

We had to change the implementation of the `AddressFactory` from `GridAddressFactory` to `BasicAddressFactory` because there was an error with the creation of the UUID for the id **_16_**.
Now it's working fine.

[2020-11-30 18:25] #10 closed

[2020-11-30 19:57] VaughnVernon commented on #10
@Florian-Schoenherr In order to use `GridAddressFactory` you must start the `Grid`.

I think what has happened is that you have some sort of hybrid between a Starter project and a manually programmed project. For example, if you were using auto-dispatch resources you wouldn't need to create an implementation, only an annotated interface.

https://docs.vlingo.io/vlingo-xoom/xoom-annotations

[2020-12-16 12:58] yuri-sergiichuk commented on #6
Closed with #7 and #11.

[2020-12-16 12:58] #6 closed

[2021-01-14 20:12] razibus opened #13 "trying to download latest starter zipped distribution retrieves a snapshot version or an HTML file"
Following the documentation at https://docs.vlingo.io/vlingo-xoom/xoom-starter
`curl -L -O https://github.com/vlingo/vlingo-xoom-starter/raw/master/dist/starter.zip`
retrieves a SNAPSHOT one or an HTML file instead of a RELEASE version.
I first got a SNAPSHOT version (1.4.1-SNAPSHOT) and now I get this:
[starter.zip](https://github.com/vlingo/vlingo-xoom-starter/files/5816770/starter.zip)

For exa

[2021-01-14 20:14] VaughnVernon commented on #13
/cc @Florian-Schoenherr @danilo-ambrosio

[2021-01-14 20:21] razibus opened #14 "xoom gui code generation expects mvnw to be launchable in current path"
When mvnw is not launchable in current path, the xoom gui emits the following exception at the generation step:

[code]

Adding a launchable mvnw to the path with an accessible .mvn folder solves the issue and the gui is able to generate the code.

[2021-01-14 20:30] Florian-Schoenherr commented on #13
@razibus The latest available is a SNAPSHOT version, but is stable.
I updated the [docs](https://docs.vlingo.io/vlingo-xoom/xoom-starter) immediately, the links were old.
We have Github releases now, so you can use:
`curl -L -O https://github.com/vlingo/vlingo-xoom-starter/releases/latest/download/starter.zip`
Sorry for the inconvenience.

@VaughnVernon we could also release 1.4.4, so people know

[2021-01-14 20:35] VaughnVernon commented on #13
Thanks, @Florian-Schoenherr We can do. I was waiting for completion on 1.5.0 features but I can release 1.4.4 now.

Will the github file cache auto update on the release? Are the docs and README fully updated?

[2021-01-14 20:38] Florian-Schoenherr commented on #13
@VaughnVernon file cache? - if you mean the release, no, but after you changed the version I can do a new 1.4.4 release. And we could build this into github actions later.

[2021-01-14 20:40] Florian-Schoenherr commented on #14
don't exactly know what that means, do you mean windows PATH?
@danilo-ambrosio can you take a look?

[2021-01-14 20:55] VaughnVernon commented on #13
@Florian-Schoenherr Ok, I will release now. Yes, we must have that auto copy into Github releases.

Are the docs fully updated? We need that in those in the 1.4.4 release.

[2021-01-14 21:31] Florian-Schoenherr commented on #13
@VaughnVernon There wasn't much new docs-worthy functionality. So yes. Also your last commit was not necessary, the links are already under "Installation" (they were only missing in docs)

[2021-01-14 21:46] VaughnVernon commented on #13
@Florian-Schoenherr Thanks for the heads up. I didn't see the links. I deleted the redundant docs.

[2021-01-15 10:56] razibus commented on #14
Indeed, this is what I meant. Can be the windows PATH or the Linux path. I use Linux. If the mvnw executable is not in one of the folders listed in the path variable, the code generation process fails with the aforementioned exception.
However, even if making this file visible in the system path makes possible to get the code generation step working, this is only a workaround and is definitly not

[2021-01-15 13:12] razibus opened #15 "names of statically imported methods may conflict with business level code"
Context : a User business object has been defined in xoom gui code generator. Consequently, a UserResource class has been created by the framework. In this class the ResourceBuilder class is statically imported :
[code]
If some business methods are defined for the User class, whose name conflict with the ResourceBuilder methods, the compilation fails.

For instance :
[code]
If a put, post, get or

[2021-01-15 13:14] VaughnVernon commented on #14
Thanks @razibus for your patience and taking time to explain.

We've struggled a bit getting mvnw to work properly (not sure of all the reasons but it doesn't seem straightforward to employ it). It was my impression that we were causing a jit download of mvn rather than requiring it to exist locally beforehand. Perhaps the problem is when mvnw does exist beforehand. Not sure. Is that what you are

[2021-01-15 13:21] razibus opened #16 "Request : Consider adding a serialization mecanism in the xoom gui"
During a modeling session the xoom gui modeler freezed to death. I had to kill its process. All the work done was lost.
I submit a request to include a serialization mecanism to the xoom gui modeler so that it may be dismissed, killed, stopped and then relaunched without loosing the work done using a data deserialization process.

[2021-01-15 13:32] razibus commented on #14
Indeed, mvnw has this utility to use a local maven wrapper without requiring that a maven be installed on the target system. It is a good practice to use it and not to rely on the target system's configuration. It must be xoom's own copy of mvnw.

[2021-01-15 13:41] Florian-Schoenherr commented on #15
Thank you! Didn't think of that.
Also looks terrible. Maybe the other way around? Or we could validate that people can't use http-method names (deleteUser would work, maybe even _delete).

[2021-01-15 13:42] Florian-Schoenherr commented on #16
I'm gonna add localstorage 👍

[2021-01-15 13:55] razibus opened #17 "Framework generated code and business code may conflict"
Context : a Building object has been defined in the gui. The code generator produced an interface Building with the following static method :
[code]
There is a name conflict between the framework code and the business code on the `address` field. A basic workaround in this case was to change the framework's address variable to _address. However, in general:

- no assumption should be made on the a

[2021-01-15 13:58] VaughnVernon commented on #16
@razibus Can you explain the gestures that lead to the hang?

[2021-01-15 14:01] VaughnVernon commented on #14
Ok, thanks. I thought that the jit download for XOOM-only use was our approach, but obviously something is wrong there.

[2021-01-15 14:05] VaughnVernon commented on #15
The generated code should use the fully-qualified class name of the fluent API method names to avoid conflicts:

[code]

[2021-01-15 14:09] VaughnVernon commented on #17
@razibus Thanks. In fact those changes are being made for the next release. (We ran into this with the domain model parameters.)

[2021-01-15 14:58] razibus commented on #16
Logs did not give much insight as much as I remember. The application simply freezed.
I was working on a model with around ten aggregates.
The gui complained a little on the url's of the controllers, it considers them as wrong sometimes because it seems to keep a state that is not updated when you modify another filed (like the http verb...).
Other observations I made were that :

- the first page

[2021-01-15 15:00] razibus commented on #17
Great !

[2021-01-15 15:07] VaughnVernon commented on #16
@razibus Thanks for explaining. No need to be sorry. It is I who must apologize. We should have done a better job of this. I do admit that it's a new set of features and also we converted the UI from Angular to Svelte, which possibly missed some details.

/cc @Florian-Schoenherr @danilo-ambrosio

[2021-01-15 15:14] Florian-Schoenherr commented on #16
@razibus Thank you.
- it's losing data if something is missing or not valid
- the generate button is greyed when something's missing, so yes
- navigation is not different

Localstorage implementation is nearly done, but will only save a new aggregate if you press "Add" for now, is that okay? 😄

[2021-01-15 16:08] razibus commented on #16
Thank you. It is a good news to know that this feature is almost ready.

Storing state upon explicit button interaction, using a save or add button, has the drawback that user must click every once to save the current state. Using other internal events, like content change + focus lost, to trigger a local storage would be more user-friendly but would require more work to manage the storage automat

[2021-01-15 16:56] Florian-Schoenherr commented on #16
@razibus It works now (haven't found any bugs with the localstorage), only saves if you have added something new to the aggregate list.
The dialog needs some work, that's the main problem - keeping it open after refresh isn't as easy as I thought it would be, but I tagged it. Also we can make it so clicking on the '+'-Card just adds a new card and then there's only an edit-mode. Makes the logic ea

[2021-01-15 17:14] razibus commented on #16
You are very kind and work quick !
I prefer to follow the product normal release cycle. It is better for the development team and I can wait !
Thank you. I am impressed !

[2021-01-15 17:31] Florian-Schoenherr commented on #16
@razibus it's called svelte 😉

[2021-01-15 17:42] VaughnVernon commented on #16
Since @Florian-Schoenherr won't brag about himself, I will do it for him. He is an outstanding young developer and has a lot of great ideas. Fortunately for him, he been scored very highly as a university intern for us since August, through this past semester/term. Unfortunately for us, he now must return to his university studies/work. I only say "unfortunately for us" from the standpoint that we

[2021-01-16 00:23] danilo-ambrosio commented on #15
I've picked the @VaughnVernon suggestion. The `Rest Resource` template has been updated by using `Resource Builder` methods qualified names, without imports.

Please @razibus download the [updated `starter` binaries](https://github.com/vlingo/vlingo-xoom-starter/releases/tag/1.4.1-SNAPSHOT) and let me know if my changes meet what we've discussed here.

Thanks.

[2021-01-16 00:27] danilo-ambrosio commented on #17
Thanks for sharing details and guidance @razibus!

I placed an underscore in front of every local variable in the domain model templates. Could you please download the update [binaries](https://github.com/vlingo/vlingo-xoom-starter/releases/tag/1.4.1-SNAPSHOT) and let me know if the problem was solved?

I'm grateful for your collaboration!

[2021-02-02 22:49] Florian-Schoenherr opened #20 "Bugs + Improvement ideas in Dialog"
1.
If I edit one of my defined Aggregates and don't change their name, I can't `Update`.
If I rename them and give them back the name they had before, the validation is also triggering.

2.
Methods should have the possiblity to either choose `Query` instead of or leave out `Event`.
I think this is pretty much a priority because of simple GET `/{id}` requests. Maybe this is already possible, but no

[2021-02-02 22:51] VaughnVernon commented on #20
@Florian-Schoenherr Are you sure? Did you `git pull`? This very problem was fixed by the Command Router changes the other day.

[2021-02-17 02:57] hurelhuyag commented on #14
This is happened to me yesterday.

[2021-02-17 03:41] VaughnVernon commented on #14
Hey @danilo-ambrosio I thought this was fixed. @hurelhuyag is running Ubuntu. Is there any issues running Maven Wrapper on Ubuntu?

Our priority is not here, but need to nail this for good. @hurelhuyag Do you have any ideas here?

[2021-02-17 10:33] Florian-Schoenherr commented on #14
Hmm, I tried running `./mvnw clean package` in the root of vlingo-xoom-starter, `mvnw clean package` didn't work (bash).
Maybe this is enough to solve the problem throwing `ProjectGenerationException` as well?
@razibus said `subfolder/mvnw` should work, so basically this.

There are mentions of mvnw in `install.bat`, `MavenWrapperInstallationStep` and `Terminal`.

[2021-02-17 12:41] VaughnVernon commented on #14
@Florian-Schoenherr What about this?

`./mvnw/mvnw clean package`

[2021-02-17 13:02] Florian-Schoenherr commented on #14
@VaughnVernon I meant `./mvnw clean package` works. Without the `./` it doesn't 👍

[2021-02-18 05:46] VaughnVernon commented on #14
@Florian-Schoenherr Ok, I thought `mvnw` is in a sub-directory of the same name under the root.

[2021-02-18 13:42] danilo-ambrosio commented on #14
@razibus
Thank you for all details you shared. I just need one more detail.

Could you please look into this directory `$VLINGO_XOOM_STARTER_HOME/resources/archetypes` and ensure that the `mvnw` script file is present?

Based on that information, I can proceed with the solution.

Grateful for your collaboration!

[2021-02-18 15:19] VaughnVernon commented on #14
And @danilo-ambrosio I think the most recent problem was experienced by @hurelhuyag so we need his input to your question:

[2021-02-18 15:25] danilo-ambrosio commented on #14
Yes @VaughnVernon . I've asked this information to @hurelhuyag and he already replied on Slack. I sent him an enhanced `starter` version for his evaluation. I strongly believe the enhancements I made will solve this problem.

As soon as @hurelhuyag reply me with the test result, I'm going to push the fixed version

[2021-02-18 15:39] VaughnVernon commented on #14
@danilo-ambrosio Thanks for all your diligent work on this. Multi-platform is way more complex than write-once-run-anywhere.

[2021-02-19 15:35] danilo-ambrosio commented on #14
@hurelhuyag has successfully tested the updated `starter` version I've recently pushed.

@razibus Could you try this new version? All you need to do is the following:

- Download and extract the updated binary using this link: https://github.com/vlingo/vlingo-xoom-starter/releases/download/1.5.0/starter.tar
- Update the starter home environment variable referencing the new path where you extracted

[2021-02-22 13:52] VaughnVernon commented on #17
@danilo-ambrosio I think we have used this ourselves enough to close without @razibus testing and confirming.

[2021-02-22 13:53] VaughnVernon commented on #16
@Florian-Schoenherr Can this be marked fixed and close?

[2021-02-22 13:55] VaughnVernon commented on #15
@danilo-ambrosio I think this can be marked as fixed and close it even though we have not heard from @razibus to confirm the fix.

[2021-02-22 13:57] VaughnVernon commented on #14
@danilo-ambrosio Since Hurlhuyag has confirmed the fix on his environment, I think this can be marked fixed and close it even though @razibus has not confirmed.

[2021-02-22 13:58] VaughnVernon commented on #13
@Florian-Schoenherr We have not seen a confirmation from @razibus but can you confirm that this is fixed and close the issue?

[2021-02-22 14:13] #16 closed

[2021-02-22 14:16] #13 closed

[2021-02-22 15:31] danilo-ambrosio commented on #17
Agree @VaughnVernon . I will close it. This fix has been used for a while and it's working fine.

[2021-02-22 15:31] #17 closed

[2021-02-22 15:32] danilo-ambrosio commented on #14
Makes sense @VaughnVernon .  I will do it.

[2021-02-22 15:32] #14 closed

[2021-02-22 15:33] #15 closed

[2021-02-25 21:44] Boerrild opened #24 "Cannot generate on Mac"
When I push the final Generate-button I get an error. Well hidden in stack traces in the console, I realise that the "mvnw"-tool is missing execution permission. Maybe add a note to the README to also run

    chmod 755 resources/archetypes/mvnw

in addition to

    chmod 775 xoom

[2021-02-25 21:50] VaughnVernon commented on #24
@Boerrild Thanks for reporting. Sorry. We should be able to set rwx for the user level.

@danilo-ambrosio Please support ASAP.
https://www.journaldev.com/855/java-set-file-permissions-posixfilepermission

The following shows 777 but I think it would be 744 and allow the owner to change it to higher because it might fail if the installation directory is not owned by the installing user.

[code]

[2021-02-25 21:54] Boerrild opened #25 "Wrong type in restoreSnapshot in generated Entity"
The EventSourced entity generated by xoom starter attempts to override "restoreSnapshot", but the declared generic type is wrong. It is probably hardcoded by mistake to <AccountState>, but should be whatever state the entity use:

Example of a generated entity named JournalEntity with a state of type JournalState:

        public final class JournalEntity extends EventSourced implements Journal {

[2021-02-25 22:04] VaughnVernon commented on #25
@Boerrild Are you using SNAPSHOT level or 1.5.0 release? I think you must be using the SNAPSHOT, which is not considered official. Can you please try the released version? It will be missing some features but it should be stable.

[2021-02-25 22:30] VaughnVernon commented on #25
@Boerrild Please pull clear your local cache (not sure how you are getting snapshots) and run the generation and build again. This one should be fixed.

[2021-02-25 22:40] Boerrild commented on #25
I followed the Getting started guide and ran

    curl -L -O https://github.com/vlingo/vlingo-xoom-starter/releases/latest/download/starter.tar

And extracted it. It apparently gives me 1.5.1-SNAPSHOT.

[2021-02-25 22:58] VaughnVernon commented on #25
I think you should try in this order:

1. Re-generate your project using the snapshot as before and execute the mvnw (after changing perms; I am trying to fix that now); this should generate the correct code now using the new `vlingo-xoom...1.5.1-SNAPSHOT.jar`
2. `$ git pull on vlingo-xoom` (the actual location of the bug in a template file; see below link).

https://github.com/vlingo/vlingo-xoom/

[2021-02-25 23:50] VaughnVernon commented on #25
Fixed by https://github.com/vlingo/vlingo-xoom/commit/663a2476b6e0389d2f52c8352234225c5e38c24a

[2021-02-25 23:50] #25 closed

[2021-02-25 23:51] VaughnVernon commented on #24
Fixed by https://github.com/vlingo/vlingo-xoom-starter/commit/b153a0b259ebc7d8ebb8f00f7f8572c55e2f2153

[2021-02-25 23:51] #24 closed

[2021-02-26 13:43] danilo-ambrosio commented on #20
@Florian-Schoenherr
Thank you for pointing out these items.

Item #1 has been solved in this [PR](https://github.com/vlingo/vlingo-xoom-starter/pull/21). Likely, the 2, 3 e 4 may be implemented during the VO generation feature.

[2021-02-26 21:36] VaughnVernon commented on #25
@Boerrild I have confirmed this fix on MBP + MacOS.

[2021-02-26 21:36] VaughnVernon commented on #24
@Boerrild I have confirmed this fix on MBP + MacOS.

[2021-02-28 05:47] VaughnVernon opened #27 "Improve Generation Output Directory"
The Generation page currently defaults the output path to `D:\...`, which is possibly valid only for a Windows based filesystem. It may not be valid at all since some Windows filesystems will not have a `D:` drive.

The Generation page should instead default the project generation directory to a value that represents the current user operating environment.

[code]

The `basePackageName` is the `St

[2021-03-07 02:20] VaughnVernon opened #30 "Starter UI for Value Objects: Edit and Scope"
- The Value Object combo prevents editing the Value Object fields. When clicking on the VO name, the state fields are not refreshed, so user can only edit the Aggregate state fields.

- The Value Objects created in the context of a given Aggregate are not available for other Aggregate.

- Questions? Ask @danilo-ambrosio

[2021-03-07 09:35] Florian-Schoenherr commented on #30
Just going through the UI changes, btw @abdullahcalisir12 I will review only.
1. Why is that just a Button now?
![image](https://user-images.githubusercontent.com/65456722/110235270-6df69880-7f2f-11eb-8cf1-46d8dd04d45d.png)
2. As a user, I have no idea what all of this (and the Dialog when clicking `New`) means:
![image](https://user-images.githubusercontent.com/65456722/110235345-d2b1f300-7f2f-11

[2021-03-07 10:49] abdullahcalisir12 commented on #30
@Florian-Schoenherr

1- I used SlideGroup, there was a bug SlideGroup wasn't calculating its width right so it was causing UI problem that's why I converted a button and removed it from the card list.

2- If you have any suggestions feel free to offer, I would like to change the UI.

3- available for other aggregates is solved

[2021-03-07 11:33] Florian-Schoenherr commented on #30
@abdullahcalisir12 the suggestion was to put Value Objects in their own Dialog and just reference them in AggregateDialog 👍

[2021-03-07 14:10] VaughnVernon commented on #30
@Florian-Schoenherr @abdullahcalisir12 The separate dialog is ok but it must be a choice from inside the aggregate dialog because that's where you need the new types to use in an aggregate. Should NEW > be an option on the field type dropdown?

[2021-03-07 14:18] abdullahcalisir12 commented on #30
@Florian-Schoenherr @VaughnVernon

@danilo-ambrosio provided me a json schema for valueObjects settings that's why I changed UI and implementation. You can review new UI here at #31

[2021-03-07 14:23] VaughnVernon commented on #30
@abdullahcalisir12 Thanks. Could you please provide a few screen captures on the new features, how the dialog is reached and what it looks like? I won't have time for the next 5 hours to review.

[2021-03-07 15:19] Florian-Schoenherr commented on #30
@VaughnVernon I would keep Dropdowns as a selection, "New" could be a button beside it.

[2021-03-07 15:43] VaughnVernon commented on #30
@Florian-Schoenherr @abdullahcalisir12 Yes, that's fine.

[2021-03-17 19:27] VaughnVernon commented on #30
Done.

[2021-03-17 19:27] #30 closed

[2021-03-19 18:39] danilo-ambrosio commented on #27
It has been implemented [here](https://github.com/vlingo/vlingo-xoom-starter/commit/c288d5f5b2b0c664121b1f92e2d0c483cc7032ed).

[2021-03-19 18:39] #27 closed

[2021-03-22 15:41] VaughnVernon opened #42 "Updating from localStorage in Aggregate Dialog"
@abdullahcalisir12 I think this one is related to #20 and #21 that was evidential not actually fixed, or at least it is still a problem if *reentering the GUI with the previous project description already in `localStorage`.

* What is meant by reentering the GUI is a complete shut down of the server browser tab, and then restarting the server and reaching a new browser tab. It would seem that ther

[2021-03-22 16:14] Florian-Schoenherr commented on #42
I think this is not a localstorage problem, but could be wrong.

[2021-03-22 16:23] VaughnVernon commented on #42
I am not saying that it is "a `localStorage` problem." I am identifying that these problems occur when everything has been stopped and then restarted, and all that exists is whatever is in `localStorage`. The problem is obviously with Starter. As I said, there must be some operational state that exists when the project is first defined that is (1) not persisted into `localStorage`, and/or (2) not

[2021-03-31 01:43] hurelhuyag opened #45 "Inform user with successfully started log message after every component fully loaded even http handler."
Currently project has no such message. Maybe users check application status with browser. But in automation it is not good. We need a log message to detect if application is started successfully or not.

For example I check tomcat startup health with this message "INFO: Server startup in 53209 ms". If I receive this message, It means application is running.

[2021-03-31 06:59] VaughnVernon commented on #45
We generally leave that to the service/application to log because we don't actually know when everything is running. The starter current generates this:

[code]

Are you looking for more? We could move the log output to after the `XoomInitializer` is instantiated, but due to the async nature of XOOM we don't know when "everything" is running.

[2021-03-31 07:39] VaughnVernon opened #46 "[UI] Aggregate Facsimiles Should Be Required Height, Not Maximum Height"
In the Aggregates frame (not dialog) all of the individual aggregate stacks must currently be the same height. So if one aggregate is by necessity 3x taller than N others, the N others must be stretched to the same height. This looks strange and it also makes it inconvenient to click the pencil edit icon. Can we please size each aggregate to the height it requires, rather than making them all stre

[2021-03-31 07:43] VaughnVernon opened #47 "[UI] Error Message When Add Button Is Disabled Due to Error"
On the Aggregates dialog, if I forget to fill out one field, the `[ Add ]` button is never enabled. I thought that there was a bug in enabling the button until after a lot of visually rescanning I realized that I had forgotten to select an event on one of the method definitions. Could we please show a message at the bottom of the dialog, maybe to the right of `[ Add ] [ Cancel ]` that states what

[2021-03-31 08:00] VaughnVernon opened #48 "[UI] Aggregate Dialog API URI Path Confusion"
We are trying too hard to enforce the use of an `.../{id}/...` in the URI path that it's causing problems. Literally I am prevented from editing the URI prior to the `/{id}/` text. This causes big problems in the API design. The following should work:

[code]

Instead I am forced to have the `/{id}/` as the first segment of the URI and I can't override it. This means that the above `PATCH` example

[2021-03-31 11:55] Florian-Schoenherr commented on #48
@VaughnVernon Earlier on, `/animalTypes` would have been the rootPath, in this case.

Now it might be best to just provide regex validation for `/{id}/`
OR even better, have a field which let's the user _choose_ path-params and enforce them with regex, so if you want:
[code]
it would be:

[code]

[2021-04-01 03:25] VaughnVernon commented on #45
Sorry, I still don't understand.

Do you mean that when the `vlingo-xoom-starter` process is fully running and the UI loads in the browser that we should log something that says that the starter UI is running in the browser?

[2021-04-01 03:29] hurelhuyag commented on #45
@VaughnVernon We should log something when `vlingo-xoom-starter` is ready to handle requests.

[2021-04-01 03:41] VaughnVernon commented on #45
It's there already:

https://github.com/vlingo/vlingo-http/blob/7752c8ca867d70c00e07498c41221ce9a71bde44/src/main/java/io/vlingo/http/resource/ServerActor.java#L126

[2021-04-01 04:20] hurelhuyag commented on #45
@VaughnVernon Thank you. This is working as expected.

[2021-04-01 11:26] Boerrild opened #54 "Exotic characters in request leads to "Missing content with timeout."-error response."
I have been playing around with a XOOM Starter generated example, not using the dispatch-feature for resources. I have a running version with a Sapper-based ui, capable of creating instances of my domain object, and modify them. However, whenever I use "non-standard" characters, like æ, ø, å or é in my request data I seem to get a "Missing content with timeout."-error response.

I reckon it has so

[2021-04-01 13:41] jakzal commented on #54
I tried the latest xoom-starter and got a 400 bad request back in dev tools (the UI didn't show any errors):

[code]

[2021-04-01 18:20] VaughnVernon commented on #54
The problem is in request builder. The `Content-Length` is being taken from the content `String` length before it is converted to UTF-8, and UTF-8 is generating more characters than the `Content-Length` indicates.

[2021-04-01 19:15] VaughnVernon commented on #47
Fixed.

[2021-04-01 19:15] #47 closed

[2021-04-01 19:16] VaughnVernon commented on #48
Fixed.

[2021-04-01 19:16] #48 closed

[2021-04-01 19:17] VaughnVernon commented on #46
Fixed.

[2021-04-01 19:17] #46 closed

[2021-04-01 19:18] VaughnVernon commented on #20
@Florian-Schoenherr @danilo-ambrosio Can this be closed?

[2021-04-01 20:33] VaughnVernon commented on #54
This is an interesting issue. We've discovered that the browser indicates a `Content-Length` that is `N` bytes greater than the body content, where `N` is the number of extended characters included in the body. For example, we tested with all 5 of the special characters that you included along with other text in a single request, and the content total length is 46. When viewing the content with th

[2021-04-02 00:28] #45 closed

[2021-04-02 02:49] VaughnVernon commented on #54
Fixed by https://github.com/vlingo/vlingo-http/commit/4e244c46cc9f09b7f3455832ec126937169ae6a2

[2021-04-02 02:49] #54 closed

[2021-04-02 02:55] VaughnVernon commented on #54
The problem was the difference in length of the bytes vs the characters in the decoded string, where the bytes length is used in the `Content-Length` header. The string is always a less length than the bytes. I was previously only counting the length of the decoded string.

[2021-04-04 11:41] Boerrild opened #57 "Add Content-Type response header to generated Resources"
According to https://www.w3.org/Protocols/rfc2616/rfc2616-sec7.html#sec7.2.1:

_"Any HTTP/1.1 message containing an entity-body SHOULD include a Content-Type header field defining the media type of that body"_

It further states that if not provided and if the client is unable to infer the type, it should be treated as "application/octet-stream" which will fail to correctly decode extended UTF cha

[2021-04-05 14:44] VaughnVernon commented on #57
@danilo-ambrosio Please test answering `Completes<ObjectResponse<T>>` from the request handlers. This should produce a `Content-Type` header that is compatible with the `Request`. Assuming this works we will need to find a way to use this in the code generation that isn't ugly. Perhaps we could create a method in `Context` to make it elegant.

[2021-04-05 14:53] VaughnVernon commented on #57
@Boerrild May I ask what browser you are using, and how you are using the JSON entity? This has not been a problem before (not that our response absolutely correct) and I wonder if your aim is to render the JSON into the browser window rather than into a UI.

[2021-04-05 18:30] Boerrild commented on #57
@VaughnVernon I've mainly been using Chrome (on Mac), but I also tried it on Safari and in addition I tried from a cURL-tool directly from IntelllyJ. In all three cases I saw the same result.

I'm building a Svelte/Sapper frontend (greatly inspired by your example project "vlingo-e2e-sys-airline-ops") rendering the JSON entities in the browser. Sapper uses a middleware-component, "polka", to routi

[2021-04-05 18:54] VaughnVernon commented on #57
@Boerrild Interesting. As you know we are doing what seems like the same thing Svelte+Sapper, not only in the example, but in all of our tool UIs. We have not experienced those problems. I wonder what gives. Anyway, we are fixing this in the Designer generator so it should be working correctly soon. Thanks for your patience. 😄

[2021-04-06 07:30] VaughnVernon commented on #57
@Boerrild I am tempted to mark this fixed, but by now I am hesitant 😃 Please test and close if you agree.

**See:**
https://github.com/vlingo/vlingo-http/commit/78776dbfa8d7dc00068e496c4e2e22f35249d0f3

https://github.com/vlingo/vlingo-xoom/commit/7ef3630f09539ad1a17c091fe4b4e21cbfa8c8cb

[2021-04-06 19:24] Boerrild commented on #57
Yes, it's a bit strange. However, while preparing for testing your latest changes I noticed a new variation that might explain it partly: I removed my own workaround (very similar to your `entityResponseOf`-method, but in a helper class) on a single method in a single Resource. Before replacing it with your `entityResponseOf`-method I ran my code to verify that the problem was still there. This ti

[2021-04-06 19:24] #57 closed

[2021-04-30 21:43] VaughnVernon opened #65 "XOOM Designer Project Version Didn't Transition"
On the latest git pull the pom.xml for xoom-designer was still at:

[code]

Rather than:

[code]

I don't know what happened, but it appears from history that the file was never updated to the correct `1.7.6-SNAPSHOT` version and then accidentally overwritten with `1.7.1-SNAPSHOT`.

[2021-05-05 08:06] jakzal commented on #65
Currently we only transition packages that are tagged and deployed to sonatype. Designer isn't, nor are examples, helloworld streams-tck.

I'll have a think how to improve on this.

[2021-05-12 04:11] kimrow opened #73 "Working with lists within xoom designer gui"
Hello,

I've tried 1.7.7 - to try the list/set feature and within the designer, I was unable to find a dialog, which would enable me to specify List/Set type on aggregate nor value object level. Is there something I should do to see that?

Thank you,
Petr

[2021-05-12 04:16] teyckmans opened #74 "missing static import assertNotNull"
Just ran into a small code generation issue for the test sources.

When using the datetime type for a state field the tests generate an assertNotNull check on the datetime field. But no static import is added for it causing a compile error.

[2021-05-12 04:22] VaughnVernon commented on #74
Thanks @teyckmans for reporting. If you are OK with importing that class yourself it's a simple workaround until we iron out the problems.

@danilo-ambrosio Let's get this fix in for v1.7.8 along with the refactoring you are doing now. Is Wednesday or Thursday possible?

[2021-05-12 04:25] teyckmans commented on #74
Sure no big deal, just reporting for smoothing the experience :+1:

[2021-05-12 04:27] VaughnVernon commented on #73
Hi @kimrow It should be a drop-down at the end of the row with the field name and type. If you don't see that you might need to clear cache for localhost:port. I didn't experience issues myself. /cc @danilo-ambrosio

[2021-05-13 17:01] danilo-ambrosio commented on #73
Hi @kimrow
To specify List/Set type, you can fill in the highlighted fields in the images below.
![image](https://user-images.githubusercontent.com/28495827/118159240-28ed5780-b3f3-11eb-9a64-3ac93d9145c7.png)
![image](https://user-images.githubusercontent.com/28495827/118159630-9f8a5500-b3f3-11eb-9d7c-9f1082a75b3c.png)

Can you see the Collection field in the aggregate / value object dialog?

[2021-05-13 17:06] danilo-ambrosio commented on #74
@teyckmans
We're grateful for helping us to improve XOOM Designer.
I pushed the fix a few hours ago. Please, let me know if everything's working fine now.

[2021-05-14 04:01] teyckmans commented on #74
@danilo-ambrosio just tested latest version, fix works.

Thanks for the fast response.

[2021-05-14 04:01] #74 closed

[2021-05-16 05:33] kimrow commented on #73
Yeah - I only executed ```mvn package``` instead of ```mvn clean install -P deployment,frontend``` - my bad. I can see it now correctly.

[2021-05-16 06:40] VaughnVernon commented on #42
@abdullahcalisir12 Can this be closed? I think so but not sure if all points were covered.

[2021-05-16 06:42] #73 closed

[2021-05-16 16:57] VaughnVernon opened #76 "Aggregate Dialog Needs Error Summary Near Disabled Update Button"
When there are one or more errors detected on the Aggregate Dialog it can be difficult to find where the actual errors are.

Please create an error summary in a scrollable `listbox` centered between `[Save]` / `[Update]` and `[Cancel]` to the left and `[Clear Fields]` to the right. as follows:

[code]

[2021-05-18 12:18] abdullahcalisir12 commented on #42
@VaughnVernon reentering the GUI problem is fixed way before,
a few days ago, the first point is solved by using error-warning icons.
We can update Value Objects as well so I guess all points are covered.

But to be sure you can try UI and let me know if something is missing.

[2021-05-18 20:38] VaughnVernon commented on #42
@abdullahcalisir12 Yes, please change the Value Object dialog to also use error/warning icons, then I can review and close this.

[2021-05-18 21:38] abdullahcalisir12 commented on #42
@VaughnVernon Value Object dialog already has an error icon

[2021-05-18 22:38] VaughnVernon commented on #42
Ah, true! Thanks for the reminder.

[2021-05-18 22:38] #42 closed

[2021-05-25 00:35] VaughnVernon commented on #76
Fixed by the following including individual data row warnings.

https://github.com/vlingo/xoom-designer/pull/77

[2021-05-25 00:35] #76 closed

[2021-06-14 12:05] freneza opened #97 "Collections field selection can not be cleared"
Once I select a Collection I can not clear it (turn back to bare). I have to delete the property and recreate it.

[2021-06-14 18:19] #97 closed

[2021-06-14 18:25] VaughnVernon commented on #97
@freneza The fix is in 1.8.1-SNAPSHOT. We will release 1.8.1 in a day or two.

[2021-08-13 00:51] #20 closed

[2021-08-13 16:36] steele232 opened #113 "Compiling Project gives Freemarker Error"
I'm trying out Xoom Developer and I hit a snag. I installed Xoom Dev via Docker and that was great. I went through a couple scenarios quickly and I had one failure-to-generate without an error and then I succeeded in generating a project with a super simple domain and CQRS turned off and things. I was able to load up that project in Intellij but mvn clean package failed with a freemarker error. It

[2021-08-16 16:37] danilo-ambrosio commented on #113
Hi @steele232

Thanks for sharing the details. We've fixed the problem. Could you please rerun XOOM Designer via Docker by executing the following commands?

[code]
Then, you can import the "hello-eric" model and generate your project. I also recommend that you set different names for VOs and Events. For instance, `Operation` event could be named `OperationCreated`:

![image](https://user-images.g

[2021-08-16 20:36] steele232 commented on #113
Okay, I will try that soon, thanks!

[2021-08-17 00:36] steele232 commented on #113
Hi @danilo-ambrosio , I tried a few things and got a couple different results.

## New Model

I took your suggestion to make sure my events and things didn't use the same names and everything seemed to run smoothly after that; **I'm very happy about that!**

## New Install and Old Model

With the updated installation, I tried the old model (with some names being duplicated) and the code generated

[2021-08-17 14:48] danilo-ambrosio commented on #113
Thanks for sharing your insights and lessons learned, @steele232 . We really appreciate that.

We'll implement an educational tooltip on XOOM Designer UI for making users aware that is recommended that VO and Event names have different values. Mainly for the fact that the pattern for naming Domain Events is a noun + a past tense verb (e.g. `ProductDelivered`) meaning that something relevant in the

[2021-08-17 15:32] steele232 commented on #113
Great! I'm glad!

[2021-08-17 15:32] #113 closed

[2021-11-24 16:55] jakzal commented on #65
Fixed in https://github.com/vlingo/xoom-designer/commit/765cc1839942703caa85c36d0638b4b107fe6d03#diff-f818e666850711993857dd64cadbf18d0865fd0fb60678fe836bb4cf1a4eb3ca

[2021-11-24 16:55] #65 closed

[2021-12-28 16:29] bertilmuth opened #124 "xoom-designer documentation references starter.zip instead of designer.zip"
On this documentation website:
https://docs.vlingo.io/xoom-designer

there's the following statement:
[code]

This link is broken. `starter.zip` should be replaced with `designer.zip`

[2021-12-28 17:30] VaughnVernon commented on #124
Thanks, @bertilmuth! There were actually a few issues around that area but should now be fixed.

[2021-12-28 17:31] #124 closed

[2022-03-08 08:14] gollen833 opened #134 "Xoom-Designer Generation Failure"
**Action**: Project Generation <br> **OS**:  Windows 10 <br> **Java Version**:  1.8.0_312 <br>**Designer Version**: 1.8.9-SNAPSHOT <br> **Target**: filesystem <br> **Error Type**: CODEGEN_FAILURE <br>**Designer Model**: <br><pre> {<br>  "context": {<br>    "groupId": "com.archforce",<br>    "artifactId": "order-taking",<br>    "artifactVersion": "1.0.0",<br>    "packageName": "com.archforce.ordert

[2022-03-09 19:52] VaughnVernon commented on #134
Thanks for reporting, @gollen833. It appears that currently the codegen expects all declared events to be used/applied by at least one command method. We are fixing this but to quickly work around the issue you can define two additional methods and map each method to one of the other two events.

[2022-03-10 20:42] VaughnVernon commented on #134
Fixed by https://github.com/vlingo/xoom-designer/pull/135

@gollen833 The fix is available in the latest 1.9.2-SNAPSHOT. We will release 1.9.3 soon.

[2022-03-10 20:42] #134 closed